<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Acerca de nosotros</h2>
                    <h3 class="section-subheading text-muted">¡Apasionados por lo que hacemos!</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p class="large text-muted text-justify">
                        MDE.NET es una comunidad para todos los desarrolladores y entusiastas del desarrollo que usan o desean aprender .Net y tecnologías Microsoft en general. Te invitamos a participar de nuestras reuniones, charlas, conferencias y talleres en los que podrás aprender y compartir sobre nuevas tecnologías.
                    </p>
                    <p class="large text-muted text-justify">
                        Los eventos de la comunidad se llevan a cabo mensualmente (generalmente el último jueves de cada mes) en el complejo de <a href='https://www.rutanmedellin.org/es/'>Ruta N</a> ubicado en 
                        <a target="_blank" href="https://www.google.com.co/maps/place/Ruta+N/@6.264524,-75.5687377,17z/data=!4m5!3m4!1s0x0:0x99f177323f8c67d5!8m2!3d6.264524!4d-75.5665492">Calle 67 Nº 52-20 Piso 1 Torre A. Medellín - Colombia</a>.
                        Te invitamos a que te registres en nuestro <a href='https://www.meetup.com/MDE-NET/'>meetup</a> para que estés pendiente de todo lo que pasa en la comunidad y no te pierdas ningún evento.
                    </p>
                </div>
            </div>
        </div>
    </section>